<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/bgm.css">
</head>
<body>
	<div class="music">
		<div class="bgm_text"></div>
		<div class="bgm_btn">
			<span class="bgm_btn_play"></span>
			<span class="bgm_btn_stop"></span>
			<span class="bgm_btn_next"></span>
			<span class="bgm_btn_rest"></span>
		</div>
		<audio value="1" id="bgm" controls></audio>
	</div>
	<script src="/static/js/bgm.js"></script>
</body>
</html>